<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305469791824-ihmrrsitkmvieuh8ttjmfkbe817gt10i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305469791824-ihmrrsitkmvieuh8ttjmfkbe817gt10i</string>
	<key>API_KEY</key>
	<string>AIzaSyA6FpWNxNJ1PmHw_sgOIWXjoBm52VjpCDo</string>
	<key>GCM_SENDER_ID</key>
	<string>305469791824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tanirbergen.cardProject</string>
	<key>PROJECT_ID</key>
	<string>tinder-a8a4b</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-a8a4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305469791824:ios:d27f10abe4db4ff775bb55</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-a8a4b.firebaseio.com</string>
</dict>
</plist>